* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e4e4e4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: hidden;
}

button, .close-add-income, .close-add, .removeExp, .btn {
  cursor: pointer !important;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #ffffff #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  border: 0px solid #ffffff;
}

.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 0 20px;
  min-height: 100vh;
  padding-bottom: 100px;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  width: 100vw;
}

.background.expense {
  background-color: #FD3C4A;
}

.background.income {
  background-color: #00A86B;
}

.account-balance {
  border-radius: 20px;
  width: 100%;
  min-height: 100px;
  padding-top: 30px;
  margin: 10px 0;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(183.33deg, #FFF6E6 9.56%, rgba(248, 237, 216, 0) 124.27%);
}

.account-balance .text {
  font-size: 26px;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 10px;
  text-align: center;
  margin: auto;
  margin-top: 0px;
  font-weight: bolder;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.account-balance .text.active {
  background-color: transparent;
  color: #000;
}

.account-balance .total-bal {
  font-size: 40px;
  margin-top: 0px;
  text-align: center;
  font-weight: bolder;
}

.account-balance .total-bal.active {
  background-color: transparent;
  color: #000 !important;
}

.header .heading {
  text-align: center;
  margin-top: 0;
}

.header .data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .data-container .income-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 49%;
  border-radius: 20px;
  background-color: #00A86B;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header .data-container .income-container.active {
  width: 100%;
  border: solid 3px #fff;
  margin-right: 10px;
}

.header .data-container .income-container .text {
  margin-bottom: 0px;
}

.header .data-container .income-container p {
  color: #fff;
  margin: 0;
}

.header .data-container .expense-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 49%;
  border-radius: 20px;
  background-color: #FD3C4A;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header .data-container .expense-container.active {
  width: 100%;
  border: solid 3px #fff;
  margin-left: 10px;
}

.header .data-container .expense-container .text {
  margin-bottom: 0px;
}

.header .data-container .expense-container p {
  color: #fff;
  margin: 0;
}

.input-data-income {
  z-index: 9;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 230px;
  width: 100%;
  margin-left: -100vw;
  margin-bottom: -17px;
}

.input-data-income.active {
  margin-left: 0;
  margin-bottom: -17px;
}

.input-data-income .close-add-income {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.input-data-income input {
  width: 90%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: solid 1px #8c8a8a;
  padding: 3px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.input-data-income .addBtn-income {
  width: 90%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  background-color: #7F3DFF;
}

.input-data-income .addBtn-income-disable {
  width: 90%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  background-color: #959595;
}

.input-data {
  z-index: 9;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 270px;
  width: 100%;
  margin-left: -100vw;
  margin-bottom: -17px;
}

.input-data.active {
  margin-left: 0;
  margin-bottom: -17px;
}

.input-data .close-add {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.input-data input {
  width: 90%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: solid 1px #8c8a8a;
  padding: 3px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.input-data .addBtn {
  width: 90%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  background-color: #7F3DFF;
}

.input-data .addBtn-disable {
  width: 90%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  background-color: #959595;
}

.input-data .warning {
  color: #FD3C4A;
}

.datas {
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  margin-top: 300px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  max-height: 300px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.datas.active {
  opacity: 0;
}

.datas .render {
  scroll-snap-align: start;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 80px;
  margin-bottom: 10px;
  padding-left: 10px;
  font-weight: bolder;
  letter-spacing: 2px;
  background-color: #7F3DFF;
  border-radius: 20px;
}

.datas .render.active {
  display: none;
}

.datas .render p {
  margin: 0;
}

.datas .render .removeExp {
  position: absolute;
  right: 10px;
}

.total {
  background-color: rgba(255, 0, 0, 0.2);
  color: red;
  padding: 10px 0;
  border-radius: 20px;
  text-align: center;
  margin-top: 0;
}

.total.active {
  color: #fff;
}

.renderTotalExp, .data-income-handler {
  display: none;
}

.bottom-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0px;
  bottom: 0;
  width: 100%;
}

.bottom-nav-container .bottom-nav {
  width: 91%;
  height: 56px;
  background-color: #f9f9f9;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-bottom: 12px;
}

.bottom-nav-container .bottom-nav .btn {
  width: 100px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #b1b1b1;
  border-radius: 10px;
  font-size: 13px;
  color: #fff;
}

.bottom-nav-container .bottom-nav .btn.income {
  background-color: #00A86B;
}

.bottom-nav-container .bottom-nav .btn.expense {
  background-color: #FD3C4A;
}

.bottom-nav-container .bottom-nav .btn.summary {
  background-color: #0077FF;
}

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  padding: 20px;
  z-index: 999;
  background-color: #e4e4e4;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.fixed.expense {
  background-color: #FD3C4A;
}

.fixed.income {
  background-color: #00A86B;
}
/*# sourceMappingURL=style.css.map */