* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #e4e4e4;
    justify-content: center;
    overflow-y: hidden;
}

button, .close-add-income, .close-add, .removeExp, .btn {
    cursor: pointer !important;
}

/* Firefox */
* {
scrollbar-width: auto;
scrollbar-color: #ffffff #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 0;
}

*::-webkit-scrollbar-track {
background: #ffffff;
}

*::-webkit-scrollbar-thumb {
background-color: #ffffff;
border-radius: 10px;
border: 0px solid #ffffff;
}

.background {
    display: flex;
    flex-flow: column;
    padding: 0 20px;
    min-height: 100vh;
    padding-bottom: 100px;
    transition: all .3s;
    position: relative;
    width: 100vw;

    &.expense {
        background-color: #FD3C4A;
    }

    &.income {
        background-color: #00A86B;
    }
}

.account-balance {
    border-radius: 20px;
    width: 100%;
    min-height: 100px;
    padding-top: 30px;
    margin: 10px 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(183.33deg, #FFF6E6 9.56%, rgba(248, 237, 216, 0) 124.27%);

    .text {
        font-size: 26px;
        border-radius: 10px;
        width: fit-content;
        padding: 0 10px;
        text-align: center;
        margin: auto;
        margin-top: 0px;
        font-weight: bolder;
        transition: all .3s;

        &.active {
            background-color: transparent;
            color: #000;
        }
    }

    .total-bal {
        font-size: 40px;
        margin-top: 0px;
        text-align: center;
        font-weight: bolder;

        &.active {
            background-color: transparent;
            color: #000 !important;
        }
    }
}

.header {
    .heading {
        text-align: center;
        margin-top: 0;
    }

    .data-container {
        display: flex;
        flex-flow: row;
        justify-content: space-between;

        .income-container {
            display: flex;
            flex-flow: column;
            height: 60px;
            align-items: center;
            justify-content: center;
            width: 49%;
            border-radius: 20px;
            background-color: #00A86B;
            transition: all .3s;

            &.active {
                width: 100%;
                border: solid 3px #fff;
                margin-right: 10px;
            }

            .text {
                margin-bottom: 0px;
            }

            p {
                color: #fff;
                margin: 0;
            }
        }

        .expense-container{
            display: flex;
            flex-flow: column;
            height: 60px;
            align-items: center;
            justify-content: center;
            width: 49%;
            border-radius: 20px;
            background-color: #FD3C4A;
            transition: all .3s;

            &.active {
                width: 100%;
                border: solid 3px #fff;
                margin-left: 10px;
            }

            .text {
                margin-bottom: 0px;
            }

            p {
                color: #fff;
                margin: 0;
            }
        }
    }
}

.input-data-income {
    z-index: 9;
    transition: all .3s;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 230px;
    width: 100%;
    margin-left: -100vw;
    margin-bottom: -17px;

    &.active {
        margin-left: 0;
        margin-bottom: -17px;
    }

    .close-add-income {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    input {
        width: 90%;
        height: 40px;
        border-radius: 10px;
        outline: none;
        border: solid 1px #8c8a8a;
        padding: 3px;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .addBtn-income {
        width: 90%;
        height: 40px;
        border-radius: 10px;
        outline: none;
        border: none;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        background-color: #7F3DFF;
    }

    .addBtn-income-disable {
        width: 90%;
        height: 40px;
        border-radius: 10px;
        outline: none;
        border: none;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        background-color: #959595;
    }
}

.input-data {
    z-index: 9;
    transition: all .3s;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 270px;
    width: 100%;
    margin-left: -100vw;
    margin-bottom: -17px;

    &.active {
        margin-left: 0;
        margin-bottom: -17px;
    }

    .close-add {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    input {
        width: 90%;
        height: 40px;
        border-radius: 10px;
        outline: none;
        border: solid 1px #8c8a8a;
        padding: 3px;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .addBtn {
        width: 90%;
        height: 40px;
        border-radius: 10px;
        outline: none;
        border: none;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        background-color: #7F3DFF;
    }

    .addBtn-disable {
        width: 90%;
        height: 40px;
        border-radius: 10px;
        outline: none;
        border: none;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        background-color: #959595;
    }

    .warning {
        color: #FD3C4A;
    }
}

.datas {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    margin-top: 300px;
    transition: all 0.3s;
    max-height: 300px;
    padding-top: 10px;
    margin-bottom: 10px;

    &.active {
        opacity: 0;
    }

    .render {
        scroll-snap-align: start;
        position: relative;
        display: flex;
        flex-flow: row;
        text-transform: uppercase;
        width: 100%;
        height: 50px;
        color: #fff;
        align-items: center;
        justify-content: space-between;
        padding-right: 80px;
        margin-bottom: 10px;
        padding-left: 10px;
        font-weight: bolder;
        letter-spacing: 2px;
        background-color: #7F3DFF;
        border-radius: 20px;

        &.active {
            display: none;
        }

        p {
            margin: 0;
        }

        .removeExp {
            position: absolute;
            right: 10px;
        }
    }
}

.total {
    background-color: rgba(255, 0, 0, 0.2); 
    color: red;
    padding: 10px 0;
    border-radius: 20px;
    text-align: center;
    margin-top: 0;

    &.active {
        color: #fff;
    }
}

.renderTotalExp, .data-income-handler {
    display: none;
}

.bottom-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100%;

    .bottom-nav {
        width: 91%;
        height: 56px;
        background-color: rgb(249, 249, 249);
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        margin-bottom: 12px;
    
        .btn {
            width: 100px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #b1b1b1;
            border-radius: 10px;
            font-size: 13px;
            color: #fff;
    
            &.income {
                background-color: #00A86B;
            }
    
            &.expense {
                background-color: #FD3C4A;
            }
    
            &.summary {
                background-color: #0077FF;
            }
        }
    }
}

.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    padding: 20px;
    z-index: 999;
    background-color: #e4e4e4;
    transition: all 0.3s;

    &.expense {
        background-color: #FD3C4A;
    }

    &.income {
        background-color: #00A86B;
    }
}