* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #fff;
    justify-content: center;
}

button, .close-add-income, .close-add, .removeExp, .btn {
    cursor: pointer !important;
}

/* Firefox */
* {
scrollbar-width: auto;
scrollbar-color: #ffffff #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 0;
}

*::-webkit-scrollbar-track {
background: #ffffff;
}

*::-webkit-scrollbar-thumb {
background-color: #ffffff;
border-radius: 10px;
border: 0px solid #ffffff;
}

.background {
    display: flex;
    flex-flow: column;
    padding: 0 20px;
    min-height: 100vh;
    padding-bottom: 100px;
    transition: all .3s;
    position: relative;
    width: 100vw;

    &.expense {
        background-color: #FD3C4A;
    }

    &.income {
        background-color: #00A86B;
    }
}

.account-balance {
    // border-radius: 20px;
    width: 100%;
    min-height: 100px;
    padding-top: 30px;
    margin: 10px 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #7F3DFF;
    position: relative;
    transition: all 0.1s ease-in;

    .minus-animation {
        position: absolute;
        right: 50px;
        z-index: 9;
        padding: 0 10px;
        background-color: #FD3C4A;
        border-radius: 10px;
        height: fit-content;
        transition: all 1s ease-in-out;
        opacity: 0;

        &.active {
            -webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
            animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
        }

        @-webkit-keyframes slide-top {
            0% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                opacity: 100;
            }
            100% {
                -webkit-transform: translateY(-100px);
                transform: translateY(-100px);
            }
        }
        @keyframes slide-top {
            0% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                opacity: 100;
            }
            100% {
                -webkit-transform: translateY(-100px);
                transform: translateY(-100px);
            }
        }
  
    }

    .text {
        font-size: 26px;
        border-radius: 10px;
        width: fit-content;
        padding: 0 10px;
        text-align: center;
        margin: auto;
        margin-top: 0px;
        font-weight: bolder;
        transition: all .3s;
        color: #fff;
        letter-spacing: 1px;

        &.active {
            background-color: transparent;
            color: #fff;
        }
    }

    .total-bal {
        font-size: 40px;
        margin-top: 0px;
        text-align: center;
        font-weight: bolder;
        color: #fff !important;

        &.active {
            background-color: transparent;
            color: #fff !important;
        }
    }
}

.header {
    .heading {
        text-align: center;
        margin-top: 0;
    }

    .data-container {
        display: flex;
        flex-flow: row;
        justify-content: space-between;

        .income-container {
            display: flex;
            flex-flow: column;
            height: 60px;
            align-items: center;
            justify-content: center;
            width: 49%;
            // border-radius: 20px;
            background-color: #00A86B;
            transition: all .3s;

            &.active {
                width: 100%;
                border: solid 3px #fff;
                margin-right: 10px;
            }

            .text {
                margin-bottom: 0px;
            }

            p {
                color: #fff;
                margin: 0;
            }
        }

        .expense-container{
            display: flex;
            flex-flow: column;
            height: 60px;
            align-items: center;
            justify-content: center;
            width: 49%;
            // border-radius: 20px;
            background-color: #FD3C4A;
            transition: all .3s;

            &.active {
                width: 100%;
                border: solid 3px #fff;
                margin-left: 10px;
            }

            .text {
                margin-bottom: 0px;
            }

            p {
                color: #fff;
                margin: 0;
            }
        }
    }
}

.input-data-income {
    z-index: 99;
    transition: all .3s;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 230px;
    width: 100%;
    margin-left: -100vw;
    margin-bottom: -17px;

    &.active {
        margin-left: 0;
        margin-bottom: -17px;
    }

    .close-add-income {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    input {
        width: 90%;
        height: 40px;
        border-radius: 10px;
        outline: none;
        border: solid 1px #8c8a8a;
        padding: 3px;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .addBtn-income {
        width: 90%;
        height: 40px;
        border-radius: 10px;
        outline: none;
        border: none;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        background-color: #7F3DFF;
    }

    .addBtn-income-disable {
        width: 90%;
        height: 40px;
        border-radius: 10px;
        outline: none;
        border: none;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        background-color: #959595;
    }
}

.input-data {
    z-index: 999;
    transition: all .3s;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 270px;
    width: 100%;
    margin-left: -100vw;
    margin-bottom: -17px;

    &.active {
        margin-left: 0;
        margin-bottom: -17px;
    }

    .close-add {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    input {
        width: 90%;
        height: 40px;
        border-radius: 10px;
        outline: none;
        border: solid 1px #8c8a8a;
        padding: 3px;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .addBtn {
        width: 90%;
        height: 40px;
        border-radius: 10px;
        outline: none;
        border: none;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        background-color: #7F3DFF;
    }

    .addBtn-disable {
        width: 90%;
        height: 40px;
        border-radius: 10px;
        outline: none;
        border: none;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        background-color: #959595;
    }

    .warning {
        color: #FD3C4A;
    }
}

.datas {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    margin-top: 272px;
    transition: all 0.3s;
    max-height: 317px;
    padding-top: 10px;
    margin-bottom: 10px;
    transition: all 1s ease-in-out;

    &.active {
        opacity: 0;
    }

    .render {
        scroll-snap-align: start;
        position: relative;
        display: flex;
        flex-flow: row;
        text-transform: uppercase;
        width: 100%;
        height: 50px;
        color: #fff;
        align-items: center;
        justify-content: space-between;
        padding-right: 80px;
        margin-bottom: 10px;
        padding-left: 10px;
        font-weight: bolder;
        letter-spacing: 2px;
        background-color: #7F3DFF;
        transition: all 1s ease-in-out;

        &.removed {
            text-decoration: line-through;
            margin-left: 100vh;
        }

        &.up {
            height: 0;
            margin-top: -10px;
        }

        .data-desc {
            width: 180px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p {
            margin: 0;
        }

        .removeExp {
            position: absolute;
            right: 10px;
            background-color: #FD3C4A;
            border-radius: 100px;
            padding: 6px 12px;
            height: fit-content;
            font-size: 14px;
            font-weight: bold;
        }
    }
}

.total {
    background-color: rgba(255, 0, 0, 0.2); 
    color: red;
    padding: 10px 0;
    // border-radius: 20px;
    text-align: center;
    margin-top: 0;

    &.active {
        color: #fff;
    }
}

.renderTotalExp, .data-income-handler {
    display: none;
}

.bottom-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100%;

    .bottom-nav {
        width: 91%;
        height: 56px;
        background-color: rgb(249, 249, 249);
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        margin-bottom: 12px;
    
        .btn {
            width: 100px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #b1b1b1;
            font-size: 13px;
            color: #fff;
    
            &.income {
                background-color: #00A86B;
            }
    
            &.expense {
                background-color: #FD3C4A;
            }
    
            &.summary {
                background-color: #0077FF;

                &.active {
                    width: 90%;
                    position: absolute;
                }
            }
        }
    }
}

//summary 
.hide-container {
    display: block;
    transition: all 1s ease-in-out;

    &.hide {
        display: none;
    }

    &.opacity {
        opacity: 0;
    }

    @media (min-width: 768px) {
        display: none !important;
    }
}

.carS {
    display: flex;
    flex-flow: row;
    margin-top: 20px;

    .data-summary-slick {
        width: 90%;
        margin: 0 10px;
        padding: 10px;


        .text {
            text-align: center;
            color: #fff;
            font-weight: bolder;
            letter-spacing: 2px;
            margin-top: 0;
        }

        &.acount-bal {
            background-color: #00A86B;
        }
    
        &.percent-data {
            background-color: #FD3C4A;
        }

        .data {
            font-size: 26px;
            font-weight: bold;
            margin: 10px 0;
            color: #fff;
            border: solid 5px #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            padding: 10px;
            border-radius: 100px;
            margin: auto;
        }
    }
}

.data-summary {
    width: 100%;
    background-color: #0077ff;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    display: none;

    &:last-child {
        margin-left: 10px;
    }

    &.active{
        display: flex;
    }

    .text {
        margin-top: 0;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        letter-spacing: 2px;
        border-bottom: 2px #ffffff solid;
        width: fit-content;
        padding-bottom: 2px;
        margin-bottom: 15px;
    }

    .expense-percent {
        width: 90%;
        height: 30px;
        background-color: #00A86B;
        border: solid 4px #ffffff;
        overflow: hidden;

        .percent {
            transition: all 1s ease-in;
            height: 100%;
            width: 0%;
            background-color: #FD3C4A;
        }
    }
}

.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    padding: 20px;
    z-index: 999;

    &.active {
        background-color: #fff;
    }
}

//slick container
.slick-container {
    display: flex;
    flex-flow: row;
}

//icons

.fa-plus {
    margin-right: 5px;
    margin-top: -1px;
}

.fa-arrow-right {
    margin-left: 2px;
}

.aBtn {
    letter-spacing: 2px;
}

.fa-receipt {
    margin-right: 4px;
}

.fa-xmark {
    margin-right: 4px;
}